
{% extends "base.html" %}

{% block content %} 

<section class="contact-section">
    <div class="container">
        <div class="contact-center">  
            <h2>Contact</h2>

            <!-- <form action="{{ url_for('contact')}}" method="POST" enctype="text/plain"> -->
            <form action="{{ url_for('contact')}}" method="POST">
                {{ form.csrf_token }}
                {{ form.name(placeholder="Name") }}
                <p></p>
                {{ form.email(placeholder="Email") }}
                <p></p>
                {{ form.message(class_="message-box", placeholder="Your message...") }}
                <p></p>
                {{ form.send(class_="send-box") }}"
                <p></p>
            </form>

        </div>
        <a href="{{ url_for("home")}}">
            <div class="go-home-btn">
                <h1>Go home!</h1>
            </div>
        </a>
    </div>

</section>

{% endblock %}
