{% extends "base.html" %}

{% block content %}  
    <section class="hero">
        <div class="container">
            <h2 class="subhead">Fill out the boxes</h2>
                <h3 class="subhead-2">& get your 1 year financial report </h3>
                    <form action="#" method="POST">
                        <div class="list-info">
                                <p><label for="ab">Current Account Balance :</label> <input type="number" id="ab" name="ab"/></p>
                                <p><label for="mi">Monthly Income :</label> <input type="number" id="mi" name="mi"/></p>
                                <p><label for="me">Monthly Expenses :</label> <input type="number" id="me" name="me"/></p>
                                <p><label for="we">Weekly Expenses :</label> <input type="number" id="we" name="we"/></p>
                        </div> 


                    
                        <div class="hero-submit">
                            <input name="submit-list" type="submit" value="Generate report" />
                        </div>  
                    </form>
                        
                <div class="hero-footer">*this information is not stored</div>   
        </div>
    </section>
    
    <section class="contact-section">
        <div class="container">
            <div class="contact-center">  
                <h2>Contact</h2>
                <form action="{{ url_for('form') }}" method="POST" enctype="text/plain">
                    {{ form.csrf_token }}
                    {{ form.name }}
                    {{ form.email }}
                    {{ form.message }}
                    {{ form.submit }}"
                </form>
            </div>
        </div>

    </section>


    {% endblock %}
